html {
	background-color: #fff;
}

body {
	margin: 0em;
}

header {
	background-color: #f5db48;
	text-align: center;
	padding: 0em;
	margin: 0em;
}

h1 {
	font-size: 4rem;
	text-align: center;
	color: #f54869;
	padding: 0.35em;
	font-family: 'Condiment', cursive;
	margin: 0em;
}

p {
	padding: 1em 0.5em 0em 1em;
	margin: 0em;
	font-family: 'Merriweather', serif;
	line-height: 1.4em;
}

.intro {
	padding: 1em 0.5em 0em 0.5em;
	margin: 0em;
}

nav {
color: #fff;
display: inline-block;
margin: 0em 0em 1em 0em;

}

nav li {
	text-align: center;
	display: inline-block;
	list-style-type: none;
	background-color: #2a6934;
	border-radius: 0.5em;
	padding: 0.5em;
}

nav li:hover {
	background-color: #f54869;
}

nav a {
	color: #fff;
	text-decoration: none;
}

h2, h3 {
	color: #f54869;
	font-family: 'Condiment', cursive;
	margin-left: 1em;
}

h4 {
	font-style: italic;
	padding: 0em 0.5 em 0.5em 0.5em;
	font-weight: normal;
	margin: 1em;
}

img {
	width: 100%;
}
figure {
	border: .15em solid #f54869;
	border-radius: 1em;
	margin: 1em;
	background-color: #fbd3da;
	padding: .50em;
}

figcaption {
	font-style: italic;
	text-align: center;
	padding: 0.25em 0.15em 0.15em 0.15em;
}

h2 {
	border-top: solid 0.15em;
	border-top-color: #f5db48;
	margin: 0.5em;
	padding: 1em 0.5em 0.5em 0em;
}

dd {
	margin: 0em;
	padding: 01em;
}

dt {
	padding: 1em;
	font-weight: bold;
}

blockquote {
	text-align: center;
	color: #f54869;
	line-height: 17px;
	font-style: italic;
	padding: 8px;
	margin: 6px;
}

blockquote:before {
content: open-quote;
display: block;
font-size: 2.5rem;
font-family: 'Merriweather', serif;
}

.citation {
	margin: 0.50em;
}

.sources {
	background-color: #f5db48;
	padding: 2em;
}

.wiki {
	color: #f54869;
}


}
